@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;600;700;800;900&display=swap');

body {
    margin: 0;
    height: 100vh;
    background-color: #F5F8F3;
    display: grid;
    grid-template-rows: 1.5fr 8fr 1fr;
    font-family: 'Martel', serif;
}

header {
    grid-row: 1/2;
}

#logo-div {
    width: 20%;
    max-width: 130px;
    margin-left: 10px;
}

#logo {
    width: 100%;
}

nav {
    background-color: #C4D1C9;
    position: relative;
}

.nav-link {
    color: #2F392B;
}

.nav-link:hover {
    color: #606a5c;
}

.nav-item {
    background-color: #EEE3D8;
    margin: 1% 5% 1% 1%;
    border-radius: 15px;
    border: 2px solid #D9CCBF;
    text-align: center;
    width: 35%;
    max-width: 200px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 700ms;
}

.nav-item:hover {
    background-color: #f2e7dd;
}

.navbar-toggler {
    border: none;
    margin-right: 15px;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    box-shadow: 0 0 3px #2F392B;
}

#shopping-cart-sm {
    color: #2F392B;
    margin-right: 15px;
}

main {
    grid-row: 2/3;
}

footer {
    grid-row: 3/4;
    background-color: #C4D1C9;
    display: flex;
}

#instagram {
    max-width: 35px;
    fill: #2F392B;
    margin: 22px;
}

#tiktok {
    fill: #2F392B;
    max-width: 25px;
}

#about-us-container {
    display: none;
}

#shopping-cart-lg {
    display: none;
}

@media only screen and (min-width: 992px) {

    #shopping-cart-sm {
        display: none;
    }

    #shopping-cart-lg {
        display: inline-block;
        position: absolute;
        right: 35px;
        top: 43px;
    }

    #about-us-container {
        display: inline-block;
        margin-left: auto;
        align-self: center;
        margin-right: 35px;
        font-size: .95rem;
    }

    #about-us-button {
        padding: 6px 10px 6px 10px;
        border: 2px solid #2F392B;
        background-color: transparent;
        border-radius: 15px;
        color: #2F392B;
        transition: background-color 400ms
    }

    #about-us-button:hover {
        background-color: #d3e2d9;
    }

    .nav-item {
        background-color: transparent;
        margin: 0% 3% 0% 0%;
        border-radius: 0;
        border: none;
        width: 100%;
        max-width: none;
    }

    .nav-item:hover {
        background-color: transparent;
    }

    .navbar-nav {
        background-color: #EEE3D8;
        border-radius: 10px 0 0 0;
        width: 100%;
        padding: 10px;
        border: 1.5px dashed #2F392B;
        border-bottom-style: none;
        border-right-style: none;
    }

    #navbarTogglerDemo2 {
        width: 75%;
        max-width: 1100px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    
}