@import url('https://fonts.googleapis.com/css2?family=Martel:wght@400;600;700;800;900&display=swap');

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #F5F8F3;
    display: grid;
    grid-template-rows: 1.5fr 8fr 1fr;
    font-family: 'Martel', serif;
}

header {
    grid-row: 1/2;
}

#logo-div {
    width: 20%;
    max-width: 130px;
    margin-left: 10px;
}

#logo {
    width: 100%;
}

nav {
    background-color: #C4D1C9;
    position: relative;
}

.nav-link {
    color: #2F392B;
}

.nav-link:hover {
    color: #606a5c;
}

.nav-item {
    background-color: #EEE3D8;
    margin: 1% 5% 1% 1%;
    border-radius: 15px;
    border: 2px solid #D9CCBF;
    text-align: center;
    width: 35%;
    max-width: 200px;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 700ms;
}

.nav-item:hover {
    background-color: #f2e7dd;
}

.navbar-toggler {
    border: none;
    margin-right: 15px;
}

.navbar-toggler:focus,
.navbar-toggler-icon:focus {
    box-shadow: 0 0 3px #2F392B;
}

#shopping-cart-sm {
    color: #2F392B;
    margin-right: 15px;
    transition: color 400ms;
}

#shopping-cart-sm:hover {
    color: #51624a
}

main {
    grid-row: 2/3;
}

footer {
    grid-row: 3/4;
    background-color: #C4D1C9;
    display: flex;
}

#instagram {
    max-width: 35px;
    fill: #2F392B;
    margin: 22px;
}

#tiktok {
    fill: #2F392B;
    max-width: 25px;
}

#about-us-container {
    display: none;
}

#shopping-cart-lg {
    display: none;
}

/* INDIVIDUAL PRODUCT PAGES */

#individual-products-content {
    padding: 30px;
}

.product-name {
    border-radius: 10px;
    box-shadow: 2px 3px 5px #BABDB9;
    background-color: #C4D1C9;
    color: #2F392B;
    text-align: center;
    font-weight: 800;
    width: fit-content;
    margin: auto;
    padding: 15px 25px 5px 25px;
}

.product-img-div {
    margin-top: 30px;
}

.individual-product-img {
    width: 100%;
    object-fit: cover;
    border-radius: 22px;
    border: 7px solid #C4D1C9
}

#product-stats {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 10px 0px 10px
}

.price {
    font-size: 1.7rem;
    font-weight: 600;
    color: #2F392B;
}

.review-stars {
    margin-top: 4px;
    text-decoration: none;
    color: #2F392B;
    transition: color 350ms
}

.review-stars:hover {
    color: #51624a
}

.review-button {
    display: none;
}

hr {
    border-top: 2px solid #2F392B;
    width: 100%;
}

.purchase-form {
    padding-top: 27px;
    display: grid;
}

.form-content {
    background-color: #C4D1C9;
    color: #2F392B;
    font-weight: 600;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px 5px #BABDB9;
    width: fit-content;
    margin: auto;
}

.form-item {
    padding: 10px;
}

form label {
    font-size: 1.3rem;
    padding-right: 10px;
    color: #2F392B
}

form select {
    color: #2F392B;
    border-radius: 5px;
    border: 1px solid #2F392B;
    padding: 4px 1px 5px 4px;
    background-color: #F5F8F3
}

form input {
    color: #2F392B;
    border-radius: 5px;
    border: 1px solid #2F392B;
    text-align: center;
    padding: 4px 1px 4px 4px;
    background-color: #F5F8F3
}

form input:focus {
    outline: 1.5px solid #2F392B;
}

form select:focus {
    outline: 1.5px solid #2F392B;
}

.btn-primary {
    width: fit-content;
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid #D9CCBF;
    margin: 20px 110px 10px 0px;
    font-size: 1.1rem;
    color: #2F392B;
    transition: background-color 350ms;
    box-shadow: 2px 3px 5px #d1d4cf;
}

.btn-primary:hover {
    background-color: #EEE3D8;
    color: #2F392B;
    border: 2px solid #D9CCBF;
}

.btn-primary:focus {
    background-color: transparent;
    color: #2F392B; 
    border: 3px solid #2F392B;
}

#notes-div {
    display: grid;
    justify-items: center;
}

#order-notes {
    width: 400px;
    height: 100px;
    text-align: left;
    border: 1.5px solid #2F392B;
}

.add-to-cart {
    width: fit-content;
    margin: auto;
    font-size: 1.8rem;
    border-radius: 40px;
    background-color: #5D6F65;
    color: #F5F8F3;
    border: none;
    box-shadow: 2px 3px 5px #BABDB9;
    padding: 15px 70px 15px 70px;
    margin-top: 50px;
    transition: background-color 350ms;
}

.add-to-cart:hover {
    background-color: #73877c
}

.add-to-cart:focus {
    outline: 3px solid #2F392B;
}

/* SHOPPING CART */

#shopping-cart-content {
    padding: 30px;
    color: #2F392B;
}

#empty-cart {
    text-align: center;
    padding: 80px;
}

#continue-shopping {
    padding: 10px 20px 10px 20px;
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid #D9CCBF;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #2F392B;
    transition: background-color 350ms;
    box-shadow: 2px 3px 5px #d1d4cf
}

#continue-shopping:hover {
    background-color: #EEE3D8;
}

#shopping-divider {
    width: 100%;
    margin-bottom: 50px;
    border-top: 1px solid #2F392B;
}

#cost {
    background-color: #C4D1C9;
    margin: 25px 20% 25px 20%;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid #5D6F65;
    font-size: 1.3rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: fitcontent() fitcontent() fitcontent() fitcontent() fitcontent()
}

#total-divider {
    width: 100%;
    border-top: 1px solid #2F392B;
    grid-row: 4/5;
    margin-top: 0;
}

.bold {
    font-weight: 800;
}

#checkout-div {
    text-align: center;
}

#checkout {
    font-size: 1.9rem;
    font-weight: 700;
    padding: 15px 70px 15px 70px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-radius: 40px;
    background-color: #5D6F65;
    border: none;
    color: #F5F8F3;
    transition: background-color 350ms;
    box-shadow: 2px 3px 5px #BABDB9
}

#checkout:hover {
    background-color: #73877c
}

/* MEDIA QUERIES */

@media only screen and (min-width: 992px) {

    #shopping-cart-sm {
        display: none;
    }

    #shopping-cart-lg {
        display: inline-block;
        position: absolute;
        right: 35px;
        top: 43px;
        transition: color 400ms;
        color: #2F392B;
    }

    #shopping-cart-lg:hover {
        color: #51624a
    }

    #about-us-container {
        display: inline-block;
        margin-left: auto;
        align-self: center;
        margin-right: 35px;
        font-size: .95rem;
    }

    #about-us-button {
        padding: 6px 10px 6px 10px;
        border: 2px solid #2F392B;
        background-color: transparent;
        border-radius: 15px;
        color: #2F392B;
        transition: background-color 400ms
    }

    #about-us-button:hover {
        background-color: #d3e2d9;
    }

    .nav-item {
        background-color: transparent;
        margin: 0% 3% 0% 0%;
        border-radius: 0;
        border: none;
        width: 100%;
        max-width: none;
    }

    .nav-item:hover {
        background-color: transparent;
    }

    .navbar-nav {
        background-color: #EEE3D8;
        border-radius: 10px 0 0 0;
        width: 100%;
        padding: 10px;
        border: 1.5px dashed #2F392B;
        border-bottom-style: none;
        border-right-style: none;
    }

    #navbarTogglerDemo2 {
        width: 75%;
        max-width: 1100px;
        position: absolute;
        bottom: 0;
        right: 0;
    }

/* INDIVIDUAL PRODUCT PAGES */

#products-divider {
    display: none;
}

#individual-products-content {
    display: grid;
    grid-template-columns: 1fr fit-content();
    align-items: center;
}

.product-name {
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: end;
    justify-self: center;
    margin: 0;
}

.product-img-div {
    margin-top: 0;
}

#product-area {
    grid-row: 1/3;
    grid-column: 1/2;
    align-self: center;
    max-width: 1050px;
}

.purchase-form {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: start;
    margin: 0 80px 0 80px;
    justify-self: center;
}

.form-content {
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    margin: 0;
}

#notes-div {
    justify-items: start;
}

#order-notes {
    width: 300px;
    height: 100px;
}

.add-to-cart {
    margin-top: 100px;
}

.review-button {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid #D9CCBF;
    font-size: 1.2rem;
    color: #2F392B;
    transition: background-color 350ms;
    box-shadow: 2px 3px 5px #dee0dc;
    margin-right: 10px;
}

.review-button:hover {
    background-color: #EEE3D8;
}

/* SHOPPING CART */

#shopping-divider {
    display: none;
}

#shopping-cart-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#cart-area {
    grid-column: 1/2;
    display: grid;
    border-right: 2.5px dotted #5D6F65;
    margin-right: 8.5%;
}

#checkout-area {
    grid-column: 2/3;
}

#empty-cart {
    justify-self: center;
    padding: 0px;
}

#cost {
    margin: 100px 10% 25px 0%;
}

#checkout {
    padding: 15px 70px 15px 70px;
    margin-top: 25px;
    margin-right: 10%;
    border-radius: 40px;
    background-color: #5D6F65;
    border: none;
    color: #F5F8F3;
    transition: background-color 350ms;
    box-shadow: 2px 3px 5px #BABDB9
}

#checkout:hover {
    background-color: #73877c
}

}